/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url('Backgroundraw.png');
    background-size: cover;
}

/* Styles pour #ut */
#ut {
    width: 80%;
    max-width: 600px; /* Ajustez cette valeur pour agrandir l'élément */
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 220px; /* Compte pour la largeur de la barre latérale */
}

#ut h1 {
    margin-bottom: 20px;
}

#ut textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

#ut button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#ut button:hover {
    background-color: #e74c3c;
    transform: scale(1.05);
}