/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('Backgroundraw.png');
    background-size: cover;
    margin: 0;
}

#sidebar {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar .logo {
    margin-bottom: 20px;
}

#sidebar .logo img {
    width: 100%;
    max-width: 130px;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transition: transform .3s ease-in-out;
}

#sidebar .logo img:hover {
    transform: scale(1.3);
}

#sidebar .categorie {
    width: 100%;
}

#sidebar .categorie ul {
    list-style: none;
    padding: 0;
}

#sidebar .categorie ul li {
    margin-bottom: 10px;
}

#sidebar .categorie ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#sidebar .categorie ul li a:hover {
    background-color: #e5d8f0;
    color: #333;
}

.connexion {
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    align-items: center; /* Aligne les éléments verticalement */
    flex: 1; /* Permet à la section de s'étendre si nécessaire */
    justify-content: flex-end; /* Place les éléments à droite */
}


.connexion a {
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
    margin-left: 10px;
}

.connexion a:hover {
    background-color: #e5d8f0; /* Changez la couleur de fond sur hover */
    color: #333; /* Changez la couleur du texte sur hover */
    border-color: #666; /* Changez la couleur de la bordure sur hover */
}


#main-content {
    margin-left: 200px; /* Adjust to the width of the sidebar */
    flex-grow: 1;
    position: relative;
}

#publicite {
    background-color: #f0f0f0;
    height: 50px;
    display: flex; /* Ajout de la propriété pour utiliser flexbox */
    align-items: center; /* Centrer verticalement le contenu */
    justify-content: center;
}


footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    opacity: 0.9;
    position: fixed;
    bottom: 0;
    text-align: center;

}

#profil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#image{
    max-width: 300px;
    max-height: 300px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
