.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Assure que l'élément prend toute la hauteur de la fenêtre */
    text-align: center; 
}

.images p {
    margin-bottom: 20px; /* Ajoute un espace entre le texte et l'image */
}

html, body {
    height: 100%; /* Assurez que le HTML et le body prennent toute la hauteur */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

#ut {
    text-align: center;
}
