/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Conteneur de la recherche */
#recherche {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#recherche h1 {
    margin-bottom: 20px;
}

#recherche input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    width: 77%;
    opacity: 0.9;
    position: fixed;
    bottom: 0;
    text-align: center;
}

#suggestions {
    margin-top: 10px;
}

#message {
    display: none;
    color: red;
    margin-top: 10px;
}

footer {
    background-color: #000;
    color: white;
    margin-top: auto;
    margin-left: 200px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h4 {
    color: white;
}

.footer-section p, .footer-section a {
    margin: 5px 0;
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: white;
    text-decoration: underline;
}

.footer-section img {
    border: none;
}
